[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = { extras = ["crypto"], version = "*" }
fastapi = { extras = ["all"], version = "*" }
motor = "*"
bcrypt = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-dotenv = "*"
httpx = "*"
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3.10"

[scripts]
serve = "uvicorn app:app --reload --host 0.0.0.0 --env-file .env.development"
test = "pytest ."
