[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
beanie = "*"
fastapi = { extras = ["all"], version = "*" }
jinja2 = "*"
motor = "*"
pyjwt = { extras = ["crypto"], version = "*" }

[dev-packages]
asgi-lifespan = "*"
black = "*"
httpx = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-dotenv = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
wrapt = "*" # Not sure why we need this but pylint doesn't run without it.

[requires]
python_version = "3.11"

[scripts]
serve = "uvicorn app:app --reload --host 0.0.0.0 --env-file .env.development"
test = "pytest ."
format = "black ."
lint = "pylint app tests"
pre-commit-install = "pre-commit install"
